#header{
    text-align:center;
    background-color:black;
    color:white;
    padding:5px;
}

.nav{
    line-height:30px;
    background-color:#eeeeee;
    float:left;
    margin:0;
    padding-left:22px;
}
#DiplomacyNav{
    height:475px;
}
#IndexNav{
    height: 900px;
}
#TradeNav{
    height:1200px;
}
#ProclamationNav{
    height:350px;
}
#section {
    float: left;
}
 
#footer{
    background-color:black;
    color:white;
    clear:both;
    text-align:center;
   
}
#footer p{
    margin:0;
}
.jumboformat{
    padding:5px;
    border-radius:2px;
}
.holdingsImg{
    width:1.85185%;
    height:auto;
}
.HB-CCC:hover{
    background-color:#CCC;
}
.B-CCC{
    background-color:#CCC;
}
.B-BBB{
    background-color:#BBB;
}
.B-DDD{
    background-color:#DDD;
}
.NewsRumorArticle{
    margin-left:5px;
}
.Border-Blue{
    border-style:solid;
    border-width:3px;
    border-color:blue;
}
.ML-5px{
    margin-left:5px;
}
.PB-3px{
    padding-bottom:5px;
}
.P-strip{
    padding:0 !important;
}
.PL-0{
    padding-left:0;
}
.PR-0{
    padding-right:0 !important;
}
.MB-3px{
    margin-bottom:3px;
}
#googleMap{
    height:500px;
    width:500px;
}