
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<p>Yup, sorry, that's about all there is here now.  If you're super smart, you could find some other items I haven't linked up yet... But that would take forever.  It'd probably be wiser to turn around now.</p>

