#mainheadbar{
background-color: #000000;
height: 50px;
width: 100%;
margin: 0px;
font-family: Noto sans;
}
#mainheadbarheader{
	margin: 0px;
	padding-left:0px;
	vertical-align:top;
}
.mainheadbarbutton{
	border-width: 0px;
	display: inline-block;
	vertical-align:top;
	list-style: NONE;
	color: #FFFFFF;
	background-color: #000000;
	margin: 0px;
	padding:0px;
	height:50px;
	font-family: inherit;
	font-size: 25px;
	padding-left:0px;
}
#mainlucaslogoimg{
	width:auto;
}
.mainheadbarbutton:hover{
	background-color: #333333;
}
.mainheadbaritem{
	display:inline-block;
	margin: 0;
	vertical-align:top;
	color: #FFFFFF;
	background-color: #000000;
	border-width: 0 0 0 0;
	font-weight: 100;
	width:105px;
}
#mainlucaslogoli1{
	width:50px;
}
#mainContent{
	padding:5px;
	padding-top:0;
}
.body{
	margin: 0;
    background-color:#333;

}
.email{
	color: #2E2EFE;
}
.email:hover{
	text-decoration: underline;
}
#mainlink{
	background-color: #0000FF
}
#mainlink:hover{
	background-color: #0F4FFF
}
#headbarframe{
	width:100%;
	height:50px;
	margin: 0px;
}
#headbarbody{
	margin:0px;
}
#soundbody{
	margin:0px;
}
.indexlistitem{
	background-color:#CFCFCF;;
	border-radius:12px;
	padding:2%;
	margin-top:0px;
	margin-bottom:3px;
	margin-right:0px;
	margin-left:0px;
}
#indexrowall{
	list-style: none;
	padding:0px;
	background-color:#444444;
	margin:0px;
}
#indexrowall li{
	display:inline;
}
.indexrow{
	width:24%;
	list-style:none;
	display:inline-block;
	vertical-align:top;
	padding:0px;
}
#indexSoundwebDiv{
	text-align:center;
}
.imgResize{
	width:94%;
	height:auto;
}
.center{
	margin-left:auto;
	margin-right:auto;
	text-align:center;
}
#SoundwebIcon{
	width:50px;
}
#indexbody{
	margin:0px;
	background-color:#444444;
}

.contactEmailLabel{
	font-size:x-large;
	text-align:center;
	color:#DFDFDF;
}
#contactOutlookItem{
	border-left-width:3px;
	box-shadow: -2px -2px -2px 2px #767676;
}
.contactEmailItem{
	list-style:NONE;
	display:inline-block;
	vertical-align:top;
}
.masonry-container{
	background-color: #DAD;
	margin-top:-2px;
	height:100%;
	width:100%
}
.masonry-container .item{
	background-color:#FE2EC8;
	border: 5px solid #B40486;
	border-radius: 10px;
	padding:3px;
}
#soundwebBody{
	margin:0px;
	background-color:#878;
}
#soundwebMasonryWrapper{
	width:100%;
	background-color:#DAD;
}
.soundwebImgResize{
	width: 10%;
	height: auto;
}
.soundwebSounds{
	width: 3in;
	height: 1in;
}
#soundwebAddSoundImg:hover{
	 -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    -webkit-transform: scale(25px,25px); /* Chrome, Safari, Opera */
    transform: scale(25px,25px);
}
#SUploadBody{
	background-color:#878;
}
#SUploadLogoImg{
	height:50px;
	width:auto;
	background-color:#555;
	margin-left:auto;
	transform: translateY(-54px);
}
#SUploadLogoDiv{
	text-align:right;
}
#soundwebGetSoundImg:hover{
	 -webkit-transform: rotate(45deg); /* Chrome, Safari, Opera */
    transform: rotate(45deg);
    -webkit-transform: scale(25px,25px); /* Chrome, Safari, Opera */
    transform: scale(25px,25px);
}
#soundwebGetSoundPathInput, #soundwebGetSoundPathText{
	opacity: 0;
	width:50%;
    background-color:white;
    border-width:3px;
    border-color:darkgrey;
}
