.W100{
    width:100%;
}
.H0-75in{
    height:0.75in;
}
.Pstrip{
    padding:0;
}
.PL10{
    padding-left:10px;
}
.Ptop5px{
    padding-top:5px;
}
.PB-5px{
    padding-bottom:5px;
}
.Mstrip{
    margin:0;
}
.Mtop10px{
    margin-top:10px;
}
.MT-5px{
    margin-top:5px;
}
.B-333{
    background-color:#333;
}
.B-555{
    background-color:#555;
}
.B-DDD{
    background-color:#DDD;
}
.B-EEE{
    background-color:#EEE;
}
.HB-444:hover{
    background-color:#444;
}
.HB-CCC:hover{
    background-color:#CCC;
}
.Font24px{
    font-size:24px;
}
.Font40px{
    font-size:40px;
}
.C-337ab7{
    color:#337ab7;
}
#lucaslogo{
    margin-left:0;

}
.BoringWhite{
    text-decoration:none;
    color:white;
}
.BoringWhite:hover, .BoringWhite:visited, .BoringWhite:link{
    text-decoration:none;
}
#footer{
    height:0.75in;
    vertical-align:middle;
}
#footerText{
    vertical-align:middle;
    color:#CCC;
    font-size:0.15in;
    padding-top:0.1125in;

    margin:0;
}
#footerCopywrite{
    margin:0;
}
.jumboformat{
    padding:5px;
    border-radius:15px;
}
.B-BBB{
    background-color:#BBB;
}
.Overflow-wrap{
    overflow-wrap:break-word;
}
#setting-dropdown{
    text-align:right;
}
#setting-icon{
    margin-top:0.225in;
    margin-bottom:0.225in;
    height:0.3in;
    padding-right:15px;
    color:#BBBBCC;
}
.C-FFF{
    color:#FFF;
}
#headbar{
    height:0.75in;
}
.dropbtn{
    color: white;
    border: none;
    cursor: pointer;
}
.dropdown {
    position: relative;
    display: inline-block;
}
.dropdown-content {
    display: none;
    position: absolute;
    background-color: #f9f9f9;
    min-width: 160px;
    box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);

}
.dropdown-content a {
    color: black;
    padding: 12px 16px;
    text-decoration: none;
    display: block;
}
.dropdown-content a:hover {background-color: #f1f1f1}
.show {display:block;}