
@{
    ViewBag.Title = "About";
}
<div class="jumbotron jumboformat">
    <h2>About Lucas</h2>
    <p>I, Lucas N, declare that I will deliver upon yee a formal depiction of meself, unfortunately in a slight middle age fashion.  I hereby declare meself a young lad of age 13, else many years have passed since I wrote this mighty document in 2016.  I boast of a great (maybe...?) enjoyment in the creation and sharing of both hardware and software creations.  I mustn't fail to declare my personal favorite item to create as websites such as the one yee find yeeself reading now.  This website yee find yeeself reading is a combination of many website (and in the future, software, blogs, etc) creations that have been designed for this website and for other corporations.  Keep thyself wary that all external projects shalt only be linked in the All Projects page and shalt not be integrated any further into this mighty site.</p>
    <br />
</div>
<h4>Technical spefications, anyone?</h4>
<p>This site was created using MVC 5, and is hosted using azure.  This page is infrequently updated, but by the latest update, the following resources are used:  </p>

<table>
    <tbody>
        <tr>
            <th class="text-center">
                <h4>Name</h4>
            </th>
            <th class="text-center">
                <h4>Version</h4>
            </th>
        </tr>
        <tr>
            <td class="text-left">
                <p>Asp.Net</p>
            </td>
            <td class="text-right">
                <p>4.5.2</p>
            </td>
        </tr>
        <tr>
            <td class="text-left">
                <p>Entity Framework</p>
            </td>
            <td class="text-right">
                <p>6.0.0.0</p>
            </td>
        </tr>
        <tr>
            <td class="text-left">
                <p>Don't Panic Service Helpers</p>
            </td>
            <td class="text-right">
                <p>9.0.0.1</p>
            </td>
        </tr>
    </tbody>
</table>

<hr />

<p>The Lucasweb was also created using the following Azure services:  </p>
<ol>
    <li>
        <h5>WebApp</h5>
    </li>
    <li>
        <h5>Sql Database V10</h5>
    </li>
</ol>