@{ 
    ViewBag.title = "Lucasweb - Home";
}



<div>
    <div class="jumbotron">
        <h1>The Lucasweb</h1>
        <br />
        <h3 class="lead">Welcome the the Lucasweb!</h3>
        <br /> 
        <p>This is only the home page to the great, sprawling hugeness that is the Lucasweb and all of its subprojects.</p>
        <br />
        <p>Below you will find the current work-in-progess, as well as links to just about all of the (functioning) subprojects here.</p>
        <br/>
        <small>The Lucasweb: A combination of epic coding fails.</small>
    </div>
    <br />
    <div>
        <h3 class="text-center">In the works:</h3>
        <br />
        <p><a href="~/Soundweb">The Soundweb!</a></p>
    </div>
    <div>
        <h3 class="text-center">Subprojects:</h3>
        <br />
        <div class="row">
            <div class="col-lg-1 col-xs-4 text-center">
                <img src="~/Content/lucaslogo.png" alt="Lucas Logo" class="img-circle" />
                <p>AncientWeb</p>
            </div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
            <div class="col-lg-1 col-xs-4"></div>
        </div>
        <br />
        <p>See the <a href="projects">Complete Subproject Page</a> For more </p>
    </div>
    <div class="row">
        <h3 class="text-center">About the Author</h3>
        <br />
        <p>See <a href="About">About the Author</a> for Lucas N's mini-bio</p>
    </div>
</div>