@model IEnumerable<Lucasweb.DataContracts.Project>
@{
    ViewBag.Title = "All Subprojects - Lucasweb";
}

<style>
    .row {
        margin-right: 0;
    }

    .container {
        margin-right: 0;
        margin-left: 0;
        width:inherit;
    }
</style>

<div>
    <div class="jumbotron jumboformat Mstrip text-center">
        <h2>All Projects</h2>
        <p class="lead">Here you can find <em>All</em> the website works of Lucas N.</p>
    </div>
    <div class="row">
        <div class="container">
            @foreach (var item in Model)
            {
                    <div class="col-xs-6 col-sm-4 col-md-3 col-lg-2 text-center HB-CCC PT-15px PB-10px H-85px" onclick="window.location='../@item.URL'">
                        @if (item.isGlyph)
                        {
                            <span class="glyphicon @item.glyphClass Font24px" aria-hidden="true"></span>
                        }
                        else
                        {
                            <img class="Font24px" src="@item.imgSrc" />
                        }
                        <p>@item.DisplayName</p>
                    </div>
            }
        </div>
    </div>
</div>
