<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>@ViewBag.Title</title>
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css"/>
    <link rel="stylesheet" href="~/Content/Site.css"/>
</head>
<body>
    <div id="headbar" class="row Mstrip B-555">
        <div class="Pstrip col-lg-1 col-xs-2">
            <a href="~/" class="H0-75in">
                <div class="row Mstrip">
                    <img class="H0-75in" id="lucaslogo" src="~/Content/lucaslogo.png" />
                </div>
            </a>
        </div>
        <div class="col-lg-2 col-xs-3 H0-75in B-555 HB-444">
            <a  class ="BoringWhite" href="Soundweb">
                <h3 class="BoringWhite">
                    Soundweb
                </h3>
            </a>
        </div>
        <div class="col-lg-2 col-xs-3 H0-75in B-555 HB-444">
            <a class ="BoringWhite" href="Ancientweb">
                <h3 class="BoringWhite">
                    Ancientweb
                </h3>
            </a>
        </div>
    </div>
    <div>
        @RenderBody()
    </div>
    <div class="B-555" id="footer">
        <div id="footerText" class="text-center">
            <p class="text-center" id="footerCopywrite">©2016 Lucasweb Productions, Herman, NE.  All rights reserved.  I think.</p>
            <small class="text-center">The Lucasweb:  A combination of epic coding fails.</small>
        </div>
    </div>
</body>
</html>
