<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>AncientWeb - LucasWeb</title>
    <link rel="icon" href="~/Content/lucaslogo.ico">
    <link rel="stylesheet" href="~/Content/lucasss.css"/>
    <link rel="stylesheet" href="~/Content/bootstrap-3.3.6-dist/css/bootstrap.css"/>

</head>
<body>
    <div id="mainheadbar">
        <ul id="mainheadbarheader">
            <li class="mainheadbaritem" id="mainlucaslogoli1">
                <a href="main.html" target="_parent" id="mainlucaslogoa">
                    <img class="mainheadbarbutton" src="./lucaslogo.png" id="mainlucaslogoimg"></img>
                </a>
            </li>
            <li class="mainheadbaritem" id="mainlucaslogoli2">
                <a href="~/AncientWeb/main" target="_parent" id="mainlucaslogoa">
                    <button id="mainlink" role="button" class="mainheadbarbutton">Lucasweb</button>
                </a>
            </li>
            <li class="mainheadbaritem">
                <a href="~/AncientWeb/" target="_parent">
                    <button role="button" class="mainheadbarbutton">The Web</button>
                </a>
            </li>
            <li class="mainheadbaritem">
                <a href="~/AncientWeb/contact" target="_parent">
                    <button role="button" class="mainheadbarbutton">Contact</button>
                </a>
            </li>
            <li class="mainheadbaritem">
                <a href="~/" target="_parent">
                    <button role="button" class="mainheadbarbutton">NewWeb</button>
                </a>
            </li>
        </ul>
    </div>
    <div>
        @RenderBody()
    </div>
</body>
</html>
