@{
    Layout = "~/Views/AncientWeb/_AncientLayout.cshtml";
}


<script src="contact.js"></script>
<div>
    <p>contact Lucas N at:</p>
    <ul id="contactEmailList">
        <li class="contactEmailItem" id="contactOutlookItem">
            <p class="contactEmailLabel" id="contactOutlookLabel">Outlook</p>
            <a href="mailto:lucasniewohner@outlook.com">
                <button class="email" id="outlook"> lucasniewohner@outlook.com </button>
            </a>
        </li>
        <li class="contactEmailItem" id="contactGmailItem">
            <p class="contactEmailLabel" id="contactGmailLabel">Gmail</p>
            <a href="mailto: lucasniewohner@gmail.com">
                <button class="email" id="gmail"> lucasniewohner@gmail.com</button>
            </a>
        </li>
    </ul>
    <br>
    <br>
    <p> my emails are all pretty easy to remember: just my name+ @@ + whatever service you want.</p>

</div>