@{
    Layout = "~/Views/AncientWeb/_AncientLayout.cshtml";
}

<meta charset="UTF-8" />
<meta name="description" content="The lucasweb is an accumulation of all of my creations." />
<meta name="author" content="Lucas Niewohner" />
<meta name="keywords" content="Lucasweb,Lucas Web,Lucas Niewohner" />

<div style="background-color:#333;">
    <ul id="indexrowall">
        <li>
            <ul class="indexrow" id="indexrow1">
                <li class="indexlistitemli">
                    <div class="indexlistitem" id="indexSoundwebDiv">
                        <p>The SoundWeb!!!</p>
                        <a href="soundweb/soundweb.html">
                            <img src="https://upload.wikimedia.org/wikipedia/commons/8/8e/Volume-icon.gif" class="imgResize center" id="SoundwebIcon" />
                        </a>
                    </div>
                </li>
                <li class="indexlistitemli">
                    <img class="indexlistitem imgResize" src="http://www.brucesallan.com/wp-content/uploads/2013/07/Sibling-Rivalry.jpg" />
                </li>
                <li class="indexlistitemli">
                    <h1 class="indexlistitem">HIIII!!!!!</h1>
                </li>
                <li class="indexlistitemli">
                    <p class="indexlistitem">test1</p>
                </li>
                <li class="indexlistitemli">
                    <p class="indexlistitem">test2</p>
                </li>
                <li class="indexlistitemli">
                    <p class="indexlistitem">IMG!!</p>
                </li>
            </ul>
        </li>
        <li>
            <ul class="indexrow" id="indexrow2">
                <li class="indexlistitemli">
                    <p class="indexlistitem">goblles!</p>
                </li>
                <li>
                    <p class="indexlistitem">adding more!!!</p>
                </li>
            </ul>
        </li>
        <li>
            <ul class="indexrow" id="indexrow3">
                <li class="indexlistitemli">
                    <p class="indexlistitem">hobertle. with kinteraly.</p>
                </li>
                <li>
                    <p class="indexlistitem">what happens when we add another line? well, in order to gain the information nessesary for that experiment, we must be very wordy in an extremely long conversation. lets begin with discussing how extrodinarily boring this text you are reading. it is, if you haven't been so perseptive to notice such a... rather un-subtle thing. then lets move on to how insanely ong this box is. It's like miles, have you noticed? I think this will be an adaquet length for testin purposes, but just in case, I'll add a bit more: p p p p p pp p p p p pp p p p p pp p p p p p p p p p p p p p pp p p p p p p p p pp p pp p ppp p p pp pp p pp p p pp p p p p [p. And yes, I did say PP.WAIT! Unfortunately, based on my recent calulations, this still isn't nearly enough to meet my required needs. This is an extremely unfortunate discovery, because I have already put you into an extremely deep bordom state, and should I keep my intensly overwordy lull in order to  use up the remaining lines I wish to fill. But, I must do as I must do, and if it requires putting you half to sleep, so be it. Now. I need to continue my long wordiness, and to do so I am going to look every word I say up in a thesarus to see if there is a longer, boringer word. so, to demenstrate this effect, I am going to translate this sentence: "I want candy" into this: "I myself would absolutely desire a delectable morsel of the aforementioned sack of confectionary". Now do you think what you read before is boring?</p>
                </li>
            </ul>
        </li>
        <li>
            <ul class="indexrow" id="indexrow4">
                <li class="indexlistitemli">
                    <p class="indexlistitem">hinduitillspofinterfinkles!!!</p>
                </li>
            </ul>
        </li>

    </ul>
</div>