@{
    Layout = "~/Views/AncientWeb/_AncientLayout.cshtml";
}


<div>
    <div class="jumbotron" style="padding:5px;">
        <h3>Welcome to the AncientWeb!</h3>
        <p class="lead">This is a very ancient, slightly boring section that involves the first website I ever made.</p>
        <small>It's ancient.  It's glitchy.  It's tiny.  It does about nothing.  And it is awesome.</small>
    </div>

    <div id="mainContent">
        <p>Welcome to the new "lucasweb" website!!!<p>
        <p>news:</p>
        <p> check out the work-in-progress <a href="~/AncientWeb/soundweb">soundweb!</a></p>
        <br/>
        <i>NOTE:  The soundweb links will take you to the old version of the soundweb, which doesn't work at all.  To see the new version, which actually (kinda) works, click <a href="~/AncientWeb/Soundweb/Soundweb.cshtml">here</a></i>

    </div>
</div>
