<!DOCTYPE html>
<html>
	<head>
		<title>The Lucasweb: Sound Upload</title>
		<LINK href="../lucasss.css" rel="stylesheet" type="text/css">
		<LINK rel="shortcut icon" href="../lucaslogo.ico"/>
		<script src="../jquery.min.js"></script>
	</head>
	<body id = "SUploadBody" class = "body">
		<iframe src = "../headbar.html" id = "headbarframe" frameborder = "0"></iframe>
		<div id = "SUploadLogoDiv">
			<img src = "https://cdn1.iconfinder.com/data/icons/music-set/24/Volume-Up-512.png" id = "SUploadLogoImg"/>
		</div>
	</body>
</html>