
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title></title>
</head>
<body>
    <div>
        <table class="W100 text-center">
            <thead>
                <tr>
                    <th>
                        <h3 class="text-center">
                            Encrypter Options
                        </h3>
                    </th>
                </tr>
            </thead>
            <tbody class="W100">
                <tr>
                    <th class="text-center">
                        Name
                    </th>
                    <th class="text-center">
                        Details
                    </th>
                    <th class="text-center">
                        Security Index (1-low,10-high)
                    </th>
                </tr>
                <tr class="HB-CCC" onclick="window.location = '../Encrypter/Generic'">
                    <td>
                        Generic
                    </td>
                    <td>
                        Very popular Enryption used around the globe.  Uncrackable... unless the cracker knows about this site.
                    </td>
                    <td>
                        1
                    </td>
                </tr>
                <tr class="HB-CCC" onclick="window.location = '../Encrypter/Pin'">
                    <td>
                        Pin
                    </td>
                    <td>
                        Secured by a 4-digit Pin.  Does not require account.
                    </td>
                    <td>
                        4
                    </td>
                </tr>
            </tbody>
        </table>
    </div>
</body>
</html>
